#exportTable, table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  table-layout: fixed;
}

td {
  width: 100px;
}
#exportTable tr:nth-child(even){
  background-color: #f2f2f2;
}

#exportTable tr:first-child td {
    background-color: #ffff00;
    font-weight:bold;
}
