body {
    width: 220px;
}

div.group {
    margin: 1px 0 1px 0;
}

ul {
    margin: 0 0 0 0;
    display: none;
}

li {
    margin: 0 0 0 -20px;
    list-style: none;
}

h3 {
    margin: 0 0 0 0;
    -webkit-user-select: none;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input {
    width: 13px;
    height: 13px;
    padding: 0px;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
