#candidateHTML {
    display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
    background-color: rgba(255, 0, 0, 0.4);
    z-index: 1000;
}

#candidateHTML.inventSelectorOn {
    top: 30px;
    background-color: rgba(102, 102, 153, 0.4);
}

#candidateZone {
    display: none;
  position: absolute;
  background-color: blue;
  color: white;
  opacity: 0.0;
  z-index: 1100;
}

#candidateZoneControl {
    display: none;
  position: absolute;
  background-color: yellow;
  opacity: 0.0;
  z-index: 1200;
}

#selectorHTML {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: rgba(102, 102, 153, 0.9);
    border-style: solid;
    border-width: 1px;
    z-index: 1001;
}

#selectorBox {
    width: 500px;
}

#selectorButton {
    background-color: white;
    color: black;
    border: 1px solid #000000;
    padding: 3px 2px 2px 3px;
    margin: 0px 0px 0px 0px;
}

.selectorMatchedElement {
    background-color: rgba(255, 255, 51, 0.4);
}
